 /* ver 1.0 */
  /* 모든 태그에 적용 */
  *{
     font-family: Malgun Gothic; 
     font-size: 16px; 
     margin: 0px;  /* top right bottom left */
     padding: 0px;
     color: #555555;
  }
  
  li {
    list-style: none;
  }
  
  .container {
    width: 86%; 
    margin: 10px auto;
  }
  
  .top_img {
    width: 100%;
    height: 200px;
    background-image: url('../menu/images/top_v1.jpg');
  }

  /* ****************** */
  /*      메뉴 관련      */
  /* ****************** */
  .top_menu {
    position: relative; /* 부모 태그 기준, 화면 상단 기준*/
    top: 75%; 
    background-color: rgba(50, 50, 255, 0.2);  /* 0.2: Alpha, 투명도, 1: 불투명 */  
    color: white; 
  }
  
  .top_menu_label {
    position: relative; /* 속해 있는 부모 태그 기준 설정 */
    top: 12%;
    left: 0.5%;
    font-size: 25px; 
    color: #000000;
  }
  
  #menu_main {
    width: 80%;
    height: 250px;
  }
 
  #menu_main .main>li {
    float: left;
    width: 20%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    background: #98E0AD;
    position: relative;
  }
  
  #menu_main .main>li:hover .sub {
    display: block;
  }
  
  #menu_main ul li a {
    display: block;
  }
  
  #menu_main ul li a:hover {
    background: #138535;
    color: #fff;
  }
  
  #menu_main .main .sub {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: none;
  }
  
  #menu_main .main .sub li {
    background: #DAAADB;
  }
  
  #menu_main .main .sub li a:hover {
    background: #7A297B;
  }
  
  
  .left_menu {
    width: 20%;
    float: left;
  }
  
  .menu_line {
    width: 100%;
    border-bottom: dotted 1px #777777;
    margin: 20px 0px 20px 0px; /* top -> right -> bottom -> left */
    clear: both;
  }
  
  .content_body {
    width: 79%;
    float: left;
  }
  
  .content_bottom {
  
  }
  
  .bottom_menu {
    text-align: center; 
    margin: 20px auto;
    clear: both;  /* 앞쪽 태그의 float 효과를 제거함. */
  }
  
  /* 화면 내용 하단 메뉴 우측 배치 */
  .content_bottom_menu {
    clear: both;
    padding-top: 20px;
    padding-right: 20px;
    text-align: right;
    width: 100%;
    background-color: white;
  }
  
  .sub_menu {
    text-align: right;
    width: 100%;
  }
  
  /* ./images/li_left_menu_1.png의 경로는 style.css 파일이 있는 폴더가 해당됨. */
  .li_left_menu_1 { /* 화면 좌측 대분류 */
    list-style: none;
    margin-top: 35px;
    background: url(./images/li_left_menu_1.png) left center no-repeat;
    background-size: 16px;
    padding-left: 25px;
    line-height: 15px;
  }   
    
  .li_left_menu_2 { /* 화면 좌측 중분류 */
    list-style: none;
    margin: 15px 10px;
    background: url(./images/li_left_menu_2.png) left center no-repeat;
    background-size: 16px;
    padding-left: 25px;
    line-height: 15px;
  }
  
  .aside_left {
    float: left;
    font-size: 0.9em;
  }
  
  /** 본래의 A태그의 크기를 제거하고 부모의 가변 크기를 그대로 사용 */
  .aside_left A {
    font-size: 1.0em;
  }
  
  .aside_right {
    float: right;
    font-size: 0.9em;
  }
  
  .aside_right A {
    font-size: 1.0em;
  }
  
  /* ASIDE 메뉴 세로 구분선 */
  .menu_divide { /* 서브 메뉴의 세로 구분선 */
    color: #777777;
    font-size: 0.8em; /* 부모 글자 크기에 비해서 80%로 출력 */
    vertical-align: 10%;  /* 0%는 bottom 기준 */
  }
  
  .title_line {
    text-align: left;
    border-bottom: solid 3px #555555;
    width: 100%;
    margin: 20px auto;    
  }
  
  .fieldset_basic {
    width: 90%; 
    margin: 10px auto; 
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    padding: 10px;
  }
  
  .li_none {  
    list-style: none;
    margin: 15px 10px;
  }
  
  .li_none_left {
    text-align: left;
    list-style: none;
    margin: 15px 10px;
  }
  
  .li_none_right {
    text-align: right;
    list-style: none;
    margin: 15px 10px;
  }
  
  .li_error { /* 에러 메시지 */
    list-style: none;
    margin: 15px 10px;
    color: #FF0000;
  }  
  
  .input_basic {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #999999;
    border-left: none;
  }

  /* ************************************************ */
  /* 메뉴 링크(A tag) 관련                                */
  /* <A href='/blog_v2jc' class='top_menu_link'>
  /* ************************************************ */  
  .top_menu_link:link{  /* 방문전 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: white;
  }

  .top_menu_link:visited{  /* 방문후 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: white;
  }

  .top_menu_link:hover{  /* A 태그에 마우스가 올라간 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: white;
  }

  .top_menu_link:active{  /* A 태그를 클릭한 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: white;
  }
  
  /* ************************************************ */
  /* 기본 링크(A tag) 관련                                */
  /* <a href="./read.jsp">....</a>                       */ 
  /* ************************************************ */  
  A:link{  /* 방문전 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: #555555;
  }

  A:visited{  /* 방문후 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: #555555;
  }
  
  A:hover{  /* A 태그에 마우스가 올라간 상태 */
    text-decoration: none; /* 밑줄 출력 */
    color: #7777FF;
  }
  
  A:active{  /* A 태그를 클릭한 상태 */
    text-decoration: none; /* 밑줄 출력 */
    color: #7777FF;
  }
   
  /* ****************** */
  /* TABLE 태그 관련 */
  /* ****************** */
  .table_basic {
    border-collapse: collapse;
    margin: 2px auto;
    width: 100%;
  }
  
  /* 1em 기본값 : 16px, 부모 태그의 글자크기를 1em으로 인식
      DIV 태그가 20px 일경우 자식태그가 0.5em이면 최종적으로 10px이 적용됨.
      DIV 태그가 20px 일경우 자식태그가 1em이면 최종적으로 20px이 적용됨.
      DIV 태그가 20px 일경우 자식태그가 1.5em이면 최종적으로 30px이 적용됨.
  */
  .th_basic {
    font-size: 0.8em;
    border-bottom: solid 3px #DDDDDD;
    text-align: center; 
  }
  
  .td_basic {
    background-color: #FFFFFF;
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #DDDDDD;
    border-left: none;
    text-align: center;
  }
  
  .td_left {
    background-color: #FFFFFF;
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #DDDDDD;
    border-left: none;
    text-align: left;
  }
  
  .td_bs {
    text-align: center;
  }
  
  .td_bs_left {
    text-align: left;
  }
  
  
  /* 내용의 제목 */
  .content_title {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #DDDDDD;
    border-left: none;
    margin-bottom: 20px;
  }
    
  /* 기타 메시지 */
  .message {
    width: 70%;
    border: none;
    margin: 30px auto;
    text-align: center;
    background-color: #FAFAFA;
    padding: 30px;
    
  }
  
  /* 알림 메시지 */ 
  .span_info {
    color: #ffffff;
    background-color: rgba(0, 200, 0, 0.6);
    padding: 2px;
  }
  
  /* 주의 메시지 */
  .span_alert {
    color: #ffffff;
    background-color: rgba(0, 0, 200, 0.6);
    padding: 2px;
  }
  
  /* 경고 메시지 */  
  .span_warning {
    color: #FFFFFF;
    background-color: rgba(255, 0, 0, 0.6);
    padding: 2px; 
  }
  
  .msg_warning {
    color: #FFFFFF;
    background-color: rgba(255, 0, 0, 0.6);
    padding: 2px;
    margin: 10px auto;
    text-align: center;
    width: 80%; 
  }  
  
  /* 처리 성공 메시지 */
  .span_success {
    background: url('./images/url5.png') left center no-repeat;
    background-size: 10px;
    padding-top: 0px;
    padding-left: 20px; 
  }
  
  /* 처리 실패 메시지 */
  .span_fail {
    background: url('./images/url8.png') left center no-repeat;
    background-size: 10px;
    padding-top: 0px;
    padding-left: 20px; 
  }


 